header.main{
    background-color: #7FC2C6;
    background-color: white;
    position : fixed;
    width : 100%;
    height: auto;
    top: 0;
    z-index: 9999999;
    border-bottom: 10px solid #E68D3E;
    /* margin-bottom: 90px; */
}

header.main+div{
    /* margin-top: 90px; */
}  


nav.navbar-default{
    background: none;
}

nav.navbar{
    border :none;
    margin-bottom : 0;
    min-height: 50px;
}

.navbar-ex1-collapse{
    padding : 0;
}


nav.navbar a.navbar-brand img{    
    width : 100%;
    height : 100%;
    display: inline-block;
    display : none;
}

nav.navbar a.navbar-brand{
    width: 154px;
    height: 76px;
    margin: 5px 0px;
    background-image: url("../images/logo_capv_platform.png");
    background-repeat: no-repeat;
}


.navbar-nav.navbar-menu{
    margin-top: 6px;
    margin-right: 0;
}

.navbar-nav.navbar-menu>li>a,
.navbar-nav.navbar-menu>li>a:focus{
    color: #006233;
}

.navbar-nav.navbar-menu>li>a:hover{
    color : #004826;
}

.navbar-nav.navbar-menu>li>a>span.icon{
    font-size : 25px;
    display: inline-block;
    margin-right: 5px;
}    
.navbar-nav.navbar-menu>li>a>span.text{
    font-size: 17px;
    display: inline-block;
    line-height: 15px;
    vertical-align: middle;
    height: 25px;
    font-family: swis;
}    


.navbar-nav.navbar-socialnetwork{
    margin-right: 20px;
}

.navbar-nav.navbar-socialnetwork>li>a{
    color :white;
    padding: 10px 15px;
}

.navbar-nav.navbar-socialnetwork>li>a.icon{
    font-size: 25px;
    display: inline-block;
    color : white;
    color: #006233;
} 


.navbar-nav.navbar-toolbar>li>a{
    color : white;
}    

.navbar-nav.navbar-toolbar>li>a.btn{
    margin : 0 5px;
    background-color : #E68D3E;
    border : none;
    padding: 8px 13px;
    /* font-family: swis; */
    /* font-weight: normal; */
    /* font-size: 16px; */
}

.navbar-nav.navbar-toolbar>li>a.lang,
.navbar-nav.navbar-toolbar>li>a.lang:focus{
    color : #006233;
}

.navbar-nav.navbar-toolbar>li>a:focus,
.navbar-nav.navbar-socialnetwork>li>a.icon:focus{
    color: white;
}

.navbar-nav.navbar-toolbar>li>a:hover,
.navbar-nav.navbar-socialnetwork>li>a.icon:hover{
    color : #004826;
}

.navbar-nav.navbar-toolbar>.open>a.lang, 
.navbar-nav.navbar-toolbar>.open>a.lang:hover, 
.navbar-nav.navbar-toolbar>.open>a.lang:focus{
    background-color : #E68D3E;
    color : #004826;
}

.navbar-nav.navbar-toolbar>.open .dropdown-menu{
    padding-top : 0;
    padding-bottom : 0;
}

.navbar-nav.navbar-toolbar>.open .dropdown-menu>li>a{
    background-color: white;
    color: #004826;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid #e5e5e5;
}


.navbar-nav.navbar-toolbar>li>a.lang span.icon{
    display: inline-block;
    margin : 0 5px;
    font-size: 25px;
}    

.navbar-nav.navbar-toolbar>li>a.lang span.text{
    font-size: 16px;
    display: inline-block;
    line-height: 11px;
    vertical-align: middle;
    height: 25px;
    /* font-family: swiss; */
}    

.container>.navbar-header, 
.container-fluid>.navbar-header, 
.container>.navbar-collapse,
.container-fluid>.navbar-collapse {
    margin-right: 0;
    margin-left: 0;
    padding: 0px 5px;
}

.navbar-default .navbar-toggle {
    border : none;
    font-size: 37px;
    color : white;
    color: #006233;
    margin-top: 8px;
    margin-right: 0;
    padding: 0;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background: none;
    color : #004826;
}


.navbar-collapse{
    overflow-x: hidden;
    overflow-y: auto;    
    padding: 0 10px;
}

.popover{
    max-width : 100%;
    z-index: 9999999;
}

div.user-popover{
    padding-top :  10px;
    width: auto;
}


div.user-popover .photo-panel,
div.user-popover .text-panel{
    float: left;
}

div.user-popover .photo-panel{
    width: 120px;
    height: 120px;
    margin-right: 15px;
    margin-bottom: 10px;
}

div.user-popover .photo-panel>img{
    width : 100%;
}


div.user-popover .text-panel{ 
    
}
div.user-popover .text-panel .toolbar{ 
    text-align :center;
}


@media (max-width : 991px){
    .navbar.container {
        width: 100%;
        /* padding: 0 10px; */
    }
}


@media (min-width: 768px){
    .navbar-nav>li>a {
        padding: 5px 16px;
    }
    .navbar-nav.navbar-toolbar{
        float : right;
    }
    .navbar-nav.navbar-toolbar>li>a.lang{
        margin-left: 20px;
    }    
}



@media (max-width: 767px){
    header.main+div{
        margin-top: 55px;
    }             
    .navbar-nav>li>a {
        padding: 5px 0;
    }
    .navbar-nav.navbar-socialnetwork>li>a{
        color :white;
        padding: 10px 0px;
    }
    .navbar-nav.navbar-toolbar>li>a.btn{
        width : auto;
        margin: 15px 0;
    }
    .container>.navbar-collapse,
    .container-fluid>.navbar-collapse,
    .navbar-collapse{
        width: 250px;
        right : 0px;
        position : absolute;
        border-color: #004826;
        /* border-width: 2px; */
        padding: 5px 15px 25px 15px;
        background-color: #006233;
        border: 1px solid;
        margin-top: 0px;
        overflow-y: hidden;
    }

    .navbar-nav {
        margin: 0;
    }

    nav.navbar a.navbar-brand{
        background-size: 100px 45px;
        height: 45px;
        width: 100px;
        /* border: 1px solid; */
    }

    header.main{
        /* border-bottom: 1px solid #004826; */
    }

    .navbar-nav.navbar-menu>li>a,
    .navbar-nav.navbar-menu>li>a:focus,
    .navbar-nav.navbar-socialnetwork>li>a.icon,
    .navbar-nav.navbar-socialnetwork>li>a.icon:focus{
        color: white;
    }
    .navbar-nav.navbar-menu>li>a:hover,
    .navbar-nav.navbar-socialnetwork>li>a.icon:hover{
        color: #E68D3E;
    }

}


@media (max-width: 400px){
    .container>.navbar-collapse,
    .container-fluid>.navbar-collapse,
    .navbar-collapse{
        width: 100%;        
    }

}