# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: localhost
    database_port: 3306
    database_name: js
    database_user: capv
    database_password: SqkuWoH@5Q

    mailer_transport: smtp
    mailer_host: 192.162.71.192
    mailer_user: contact@capvcm.com
    mailer_password: _b1uGLFqsIq
    mailer_port: 581
    mailer_encryption: tls
#   sms_api_implementation: U2g\Axtincal\ERatingBundle\Tools\UniforwarderSmsApi
    secret: e4ab3553e92f105057efd63ac43f6ab28c23530f
